body	{
	padding-top: 70px;
}

.jumbotron {
	color: #bf2424;
	background: #ebecf0;
}

.navbar-inverse {
	background: #bf2424;
}

.navbar-inverse .navbar-brand	{
	color: white;
}

.navbar-inverse .navbar-nav>li>a	{
	color: white;
}